@model Vente.Controllers.PanierViewModel
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Panier</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="NewPanierName" class="control-label">Nom du Panier</label>
                <input asp-for="NewPanierName" class="form-control" />
                <span asp-validation-for="NewPanierName" class="text-danger"></span>
            </div>

            <div class="form-row align-items-center">
                <div class="col-auto">
                    <label for="combobox" class="col-form-label">Le produit :</label>
                </div>
                <div class="col-auto">
                    <select id="combobox" name="combobox" class="form-control">
                        @foreach (var article in Model.Articles)
                        {
                            <option value="@article.Id">@article.Nom</option>
                        }
                    </select>
                </div>
                <div class="col-auto">
                    <button type="submit" formaction="/Paniers/AddToPanier" formmethod="post" class="btn btn-primary">Add to Panier</button>
                </div>
            </div>

            <div class="form-group mt-3">
                <button type="submit" class="btn btn-primary">Valide Panier</button>
                <button type="submit" formaction="/Paniers/Delete" formmethod="post" class="btn btn-danger">Delete Panier</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
